In [13]:
import numpy as np
import pandas as pd

In [14]:
data = pd.read_csv("games.csv")

In [15]:
#sort data by score-rank
# data = data.sort_values(by=['Negative'], ascending=False)
# get the top 1000 games
# data = data.head(1000)
# data.head(10)[['AppID', 'Positive', 'Negative', 'Score rank', 'Achievements', 'Recommendations']]

In [16]:
data.columns

Index(['AppID', 'Name', 'Release date', 'Estimated owners', 'Peak CCU',
       'Required age', 'Price', 'DiscountDLC count', 'About the game',
       'Supported languages', 'Full audio languages', 'Reviews',
       'Header image', 'Website', 'Support url', 'Support email', 'Windows',
       'Mac', 'Linux', 'Metacritic score', 'Metacritic url', 'User score',
       'Positive', 'Negative', 'Score rank', 'Achievements', 'Recommendations',
       'Notes', 'Average playtime forever', 'Average playtime two weeks',
       'Median playtime forever', 'Median playtime two weeks', 'Developers',
       'Publishers', 'Categories', 'Genres', 'Tags', 'Screenshots', 'Movies'],
      dtype='object')

In [23]:
Categories = data[['AppID', 'Categories']]
Categories.head()

,AppID,Categories
20200,Galactic Bowling,"Single-player,Multi-player,Steam Achievements,..."
655370,Train Bandit,"Single-player,Steam Achievements,Full controll..."
1732930,Jolt Project,Single-player
1355720,Henosis™,"Single-player,Full controller support"
1139950,Two Weeks in Painland,"Single-player,Steam Achievements"

In [18]:
Genres = data[['AppID','Genres']]
Genres.head()

                         AppID                           Genres
20200         Galactic Bowling              Casual,Indie,Sports
655370            Train Bandit                     Action,Indie
1732930           Jolt Project  Action,Adventure,Indie,Strategy
1355720               Henosis™           Adventure,Casual,Indie
1139950  Two Weeks in Painland                  Adventure,Indie

In [19]:
Tags = data[['AppID','Tags']]
Tags.head()

,AppID,Tags
20200,Galactic Bowling,"Indie,Casual,Sports,Bowling"
655370,Train Bandit,"Indie,Action,Pixel Graphics,2D,Retro,Arcade,Sc..."
1732930,Jolt Project,NaN
1355720,Henosis™,"2D Platformer,Atmospheric,Surreal,Mystery,Puzz..."
1139950,Two Weeks in Painland,"Indie,Adventure,Nudity,Violent,Sexual Content,..."

In [20]:
Res_Categories = Categories.assign(Categories=data['Categories'].str.split(',')).explode('Categories')
Res_Genres = Genres.assign(Genres=data['Genres'].str.split(',')).explode('Genres')
Res_Tags = Tags.assign(Tags=data['Tags'].str.split(',')).explode('Tags')

In [21]:
Res_Categories.head()

                   AppID                  Categories
20200   Galactic Bowling               Single-player
20200   Galactic Bowling                Multi-player
20200   Galactic Bowling          Steam Achievements
20200   Galactic Bowling  Partial Controller Support
655370      Train Bandit               Single-player

In [22]:
Res_Categories.to_csv("Categories.csv")
Res_Genres.to_csv("Genres.csv")
Res_Tags.to_csv("Tags.csv")